/* app css stylesheet */

body {
  padding-top: 20px;
}

.map {
	width: 100%;
	margin: 0 auto;
	background: gray;
	position: relative;
	background-size: cover;
}

.admin .map-holster {
	width: 80%;
	margin: 50px auto;
	min-width: 420px;
}

.map-holster {
	width: 100%;
	margin: 15px auto;
	min-width: 420px;
}

#pixel-pusher {
	width: 100%;
	visibility: hidden;
}

.map.floor_6 {
	background: url(../upload/6-user.jpg) no-repeat; 
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}

.map.floor_7 {
	background: url(../upload/7-user.jpg) no-repeat; 
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}

.map.floor_8 {
	background: url(../upload/8-user.jpg) no-repeat; 
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}

.admin .map.floor_6 {
	background: url(../upload/6-user.jpg) no-repeat; 
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}

.admin .map.floor_7 {
	background: url(../upload/7-user.jpg) no-repeat; 
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}

.admin .map.floor_8 {
	background: url(../upload/8-user.jpg) no-repeat; 
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}

.admin.user .map.floor_6 {
	background: url(../upload/6-admin.jpg) no-repeat; 
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}

.admin.user .map.floor_7 {
	background: url(../upload/7-admin.jpg) no-repeat; 
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}

.admin.user .map.floor_8 {
	background: url(../upload/8-admin.jpg) no-repeat; 
  -webkit-background-size: 100% auto;
  -moz-background-size: 100% auto;
  -o-background-size: 100% auto;
  background-size: 100% auto;
}



.map ul {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.map ul li {
	list-style-type: none;
	color: white;
	position: absolute;
	text-align: center;
	font-weight: bold;
	background: url(../img/minidot.png) no-repeat;
	width: 14px;
	height: 13px;
	font-size: 10px;
	margin-left: -7px;
	margin-top: -6px;
	cursor: pointer;
	display: none;
}

.admin .map ul li {
	list-style-type: none;
	color: white;
	position: absolute;
	text-align: center;
	font-weight: bold;
	background: url(../img/dot.png) no-repeat;
	width: 21px;
	height: 26px;
	font-size: 10px;
	margin-left: -10px;
	margin-top: -26px;
	cursor: pointer;
	display: none;
}

.map ul li.conference {
	background: url(../img/conference.png) no-repeat;
}

.map ul li.printer {
	background: url(../img/printer.png) no-repeat;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	margin-left: -10px;
}

.map ul li.bathroom {
	background: url(../img/bathroom.png) no-repeat;
}

.admin .map ul li {
	display: block;
}

.admin {
	min-width: 1000px;
}

.map.searching ul li {
	display: block;
}

.map li .initials {
	position: relative;
	z-index: 2;
}

.map ul li .name, .map ul li .extension  {
	line-height: 11px;
	font-size: 11px;
	white-space: nowrap;
	margin: 0 0 2px 0;
	visibility: hidden;
}

.map ul li.selected .name, .map ul li.selected .extension  {
	visibility: visible;
}

.map li .details {
	width: 0px;
	background: #df2822; /* Old browsers */
	background: -moz-linear-gradient(top, #df2822 0%, #bd231e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#df2822), color-stop(100%,#bd231e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #df2822 0%,#bd231e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #df2822 0%,#bd231e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #df2822 0%,#bd231e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #df2822 0%,#bd231e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#df2822', endColorstr='#bd231e',GradientType=0 ); /* IE6-9 */
		border-radius: 5px 5px 5px 0;
	position: absolute;
	top: -26px;
	left: 1px;
	z-index: 4;
	border-bottom: 2px solid #bd231e;
	display: inline-block;
	opacity: 0;
	padding: 3px 0px;
	transition: all 200ms ease-in; 
}

.admin .map li .details {
	left: 1px;
	top:-32px;
}

.admin .initials {
	display: block;
}

.initials {
	display: none;
}

.map-holster .map li.printer .details {
	background: #6abd45;
	top: 0px;
	left: 18px;
	padding: 3px 14px 4px 3px;
	display: block;
	height: 13px;
	border-radius: 0 5px 5px 0;
	border-bottom: 0;
}

.map li.bathroom .details {
	background: rgba(255,0,0,0.8);
}

.map li.conference .details {
	background: rgba(0,166,81,0.8);
}

.map li.selected .details {
	width: auto;
	text-align: left;
	padding: 3px 14px;
	opacity: 1;
}

.map li.selected .initials {
	z-index: 5;
}

.admin .search {
	max-width: 800px;
	padding: 0 20px;
	min-width: 410px;
	margin: 20px auto;
	position: relative;
}

.search {
	margin: 15px auto;
	position: relative;
}

#logo {
	margin-right: 50px;
}

.success {
	margin-top: 17px;
	color: #55d685;
	opacity: 0;
	transition: all 3s ease-in; 
	width: auto;
	display: inline-block;
}

.error {
	margin-top: 17px;
	color: red;
	opacity: 0;
	transition: all 3s ease-in; 
	width: auto;
	display: inline-block;
}

.error.on {
	opacity: 1;
	transition: all 0ms ease-in; 
}

.success.on {
	opacity: 1;
	transition: all 0ms ease-in; 
}

#floors{
	position: absolute;
	right: 136px;
	top: 46px;
	text-align: left;
	padding-left: 10px;
	height: auto;
	font-weight: bold;
}

#floors li {
	position: relative;
	display: inline;
	background: #ECECEC;
	height: auto;
	cursor: pointer;
	width: 75px;
	padding: 5px;
	border-radius: 3px 3px 3px 3px;
	margin: 4px 0;
	opacity: .4;
}

#floors > div {
	float: left;
	margin-left: 20px;
}

#floors li.selected {
	opacity: 1;
}

.loading {
	width: 100%;
	height: 100%;
	background:rgba(255,255,255,.5);
	position: absolute;
	text-align: center;
	z-index: 3;
}

.loading img {
	margin-top: 200px;
}

.admin-tools {
	width: 80%;
	min-width: 700px;
	margin: 40px auto;
}

.room-admin {
	background: #ddd;
	width: 300px;
	padding: 10px;
	border-radius: 5px;
	float: left;
	margin-right: 10px;
}

.tools-wrapper {
	min-width: 1000px;
	width: 100%;
	margin-bottom: 20px;
	clear: both;
}

.x {
	text-indent: -9999px;
	background: url(../img/close-me.png) no-repeat;
	height: 8px;
	width: 8px;
	display: inline-block;
	margin: 2px 0 0 5px;
}

.admin .search-bar {
	position: relative;
	display: inline-block;
	float: right;
	margin-top: 18px;
	width: 220px;
}

.search-bar {
	position: relative;
	display: inline-block;
	margin-top: 18px;
	width: 220px;
}

.search-bar input {
	z-index: 11;
}

.search #autocomplete {
	max-height: 230px;
	position: absolute;
	top: 49px;
	overflow-y: scroll;
	background: white;
	z-index: 10;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-top: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 0px 0px 3px 3px;
	right: 0px;
	width: 218px;
}

.search #autocomplete li {
	cursor: pointer;
	padding: 3px 9px;
	margin: 0;
}

.search #autocomplete li:hover {
	background: #CCC;
}

.search .nav {
	padding-bottom: 5px;
}
.search .nav li {
	float: left;
	padding-right: 20px;
	cursor: pointer;
	position: relative;
}

.search .nav li.active {
	font-weight: bold;
}

input {
	outline: none;
}

.arrow-up {
	position: absolute;
	width: 17px;
	height: 8px;
	bottom: -6px;
	left: 25%;
	background: url(../img/arrow.png) no-repeat;
}

#savebtn {
	left: 600px;
	top: 73px;
	position: absolute;
}

.print-me {
	display: none;
}

#savebtn input {
	background: #39b54a; /* Old browsers */
	background: -moz-linear-gradient(top, #7cc576 0%, #39b54a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7cc576), color-stop(100%,#39b54a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7cc576 0%,#39b54a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7cc576 0%,#39b54a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7cc576 0%,#39b54a 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7cc576 0%,#39b54a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cc576', endColorstr='#39b54a',GradientType=0 ); /* IE6-9 */
	color: white;
	font-weight: bold;
	border: 0;
}

@media print {
      body {
          width: 100%;
      }
      .admin {
      	display: none;
      }
      .tools-wrapper {
      	display: none;
      }
      .print-me {
      	display: block;
      	position: relative;
      	width: 90%;
      }

      .print-me.bot {
      	width: 100%;
      	position: absolute;
      	bottom: 0;
      }
      .print-me img {
      	width: 100%;
      	margin: 0 auto;
      }

      .print-me p {
      	font-size: 1em;
      	white-space: normal;
      	line-height: 1;
      	font-weight: bold;
      }

      .print-me ul {
      	margin: 0;
      	padding: 0;
      }

      .print-me li {
      	padding: 0;
      	margin: 0;
      	list-style-type: none;
      }

      .print-me li p {
      	display: block;
      }

      .namez {
      	-webkit-column-count: 9;
		-moz-column-count: 9;
		column-count: 9;
      }

      .namez p {
      	font-size: .7em;
      }
}