  <div class="search">
    <div class="search-bar">
      <ul class="nav">
        <li ng-class="{active: search}" ng-click="explore = false; search = true; query.type = ''; turned = false; toggle();">Search
          <span class="arrow-up" ng-hide="explore"></span>
        </li>
        <li ng-class="{active: explore}" ng-click="explore = true; search = false; query.name = ''; query.type = 'seat'; turned = true; toggle();">Explore</li>
      </ul>
      <input ng-model="query.name" ng-change="textChange(query)" focus ng-hide="explore">
      <ul id="autocomplete"  ng-hide="focus || explore || !turned">
        <li ng-repeat="seat in seats | filter: {name: query.name}" ng-click="query.name = seat.name; query.floor = seat.floor;toggle();">
            <p class="name">{{seat.name}} | {{seat.extension}}</p>
          </div>
        </li>
      </ul>
      <ul id="floors" ng-hide="!explore">
        <div>
          Filters:
          <li id="6" ng-class="{selected: query.floor == 6}" ng-click="query.floor = 6;">6</li>
          <li id="7" ng-class="{selected: query.floor == 7}" ng-click="query.floor = 7;">7</li>
        </div>
        <div>
          <li id="seats" ng-hide="true" ng-class="{selected: query.type == 'seat'}" ng-click="query.name = ''; query.type = 'seat'; turned=true;">Seats</li>
          <li id="printers" ng-hide="true" ng-class="{selected: query.type == 'printer'}" ng-click="query.name = ''; query.type = 'printer'; turned=true;">Printers</li>
        </div>
      </ul>
    </div>
  </div>
  <div class="map-holster">
  <div class="map floor_{{query.floor}} {{turned && 'searching' || ''}}" ng-click="registerMove($event)">
    <div class="loading" ng-hide="loaded">
      <img src="img/preloader.gif">
    </div>
    <ul>
      <li ng-repeat="room in rooms | filter: query" style="top: {{room.top}}; left: {{room.left}}" ng-click="toggle()" ng-class="{selected:room.selected}" class="{{room.type}}">
        <div class="details">
          <p class="name">Name: {{room.name}}</p>
        </div>
      </li>
      <li ng-repeat="seat in seats | filter:query" ng-hide="seat.name=='open'" ng-style="itemstyle(seat)" ng-click="toggle()" ng-class="{selected:seat.selected}" class="{{seat.type}}">
        <div class="details {{seat.thresh}}">
          <p class="name">Name: {{seat.name}}</p><p class="extension">Extension: {{seat.extension}}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
