  <div class="search">
    <img src="http://c0717682.cdn.cloudfiles.rackspacecloud.com/images/logo-wk2.png" id="logo">
    <div class="search-bar">
    Search: <input ng-model="query.name" ng-change="textChange(query)" focus>
    <ul id="autocomplete"  ng-hide="focus">
      <li ng-repeat="seat in seats | filter: {name: query.name}" ng-click="query.name = seat.name; query.floor = seat.floor;toggle();">
          <p class="name">{{seat.name}} | {{seat.extension}}</p>
        </div>
      </li>
    </ul>
  </div>
  </div>
  <div class="map-holster">
  <div class="map floor_{{query.floor}} {{turned && 'searching' || ''}}" ng-click="registerMove($event)">
    <div class="loading" ng-hide="loaded">
      <img src="img/preloader.gif">
    </div>
    <img src="img/6.jpg" id="pixel-pusher">
    <ul id="floors">
      <div>
        Floors
        <li id="6" ng-class="{selected: query.floor == 6}" ng-click="query.floor = 6;">6</li>
        <li id="7" ng-class="{selected: query.floor == 7}" ng-click="query.floor = 7;">7</li>
        <li id="8" ng-class="{selected: query.floor == 8}" ng-click="query.floor = 8;">8</li>
      </div>
      <div>
        Filters
        <li id="all" class="selected" ng-click="query.name = ''; query.type = ''; turned=true; classToggle($event,query);">All</li>
        <li id="seats" ng-click="query.name = ''; query.type = 'seat'; turned=true; classToggle($event,query);">Seats</li>
        <li id="conference" ng-click="query.name = ''; query.type = 'conference'; turned=true; classToggle($event,query);">Conference</li>
        <li id="printers" ng-click="query.name = ''; query.type = 'printer'; turned=true; classToggle($event,query);">Printers</li>
    </div>
    </ul>
  <ul>
    <ul>
      <li ng-repeat="room in rooms | filter: query" style="top: {{room.top}}; left: {{room.left}}" ng-click="toggle()" ng-class="{selected:room.selected}" class="{{room.type}}">
        <div class="initials">{{room.initials}}</div>
        <div class="details">
          <p class="name">Name: {{room.name}}</p>
        </div>
      </li>
      <li ng-repeat="seat in seats | filter:query" style="top: {{seat.top}}; left: {{seat.left}}" ng-click="toggle()" ng-class="{selected:seat.selected}" class="{{seat.type}}">
        <div class="initials">{{seat.initials}}</div>
        <div class="details">
          <p class="name">Name: {{seat.name}}</p><p class="extension">Extension: {{seat.extension}}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
