  <div class="search">
    <img src="http://c0717682.cdn.cloudfiles.rackspacecloud.com/images/logo-wk2.png" id="logo">
    Search: <input ng-model="query.name" ng-change="textChange(query)">
  </div>
  <div class="map-holster">
  <div class="map floor_{{query.floor}} {{turned && 'searching' || ''}}" ng-click="registerMove($event)">
    <div class="loading" ng-hide="loaded">
      <img src="img/preloader.gif">
    </div>
    <img src="img/6.jpg" id="pixel-pusher">
    <ul id="floors">
      <div>
        Floors
        <li id="6" class="selected" ng-click="query.floor = 6; classToggle($event, query);">6</li>
        <li id="7" ng-click="query.floor = 7; classToggle($event,query);">7</li>
        <li id="8" ng-click="query.floor = 8; classToggle($event,query);">8</li>
      </div>
      <div>
        Filters
        <li id="all" class="selected" ng-click="query.type = ''; turned=true; classToggle($event,query);">All</li>
        <li id="seats" ng-click="query.type = 'seat'; turned=true; classToggle($event,query);">Seats</li>
        <li id="conference" ng-click="query.type = 'conference'; turned=true; classToggle($event,query);">Conference</li>
        <li id="bathrooms" ng-click="query.type = 'bathroom'; turned=true; classToggle($event,query);">Bathrooms</li>
        <li id="printers" ng-click="query.type = 'printer'; turned=true; classToggle($event,query);">Printers</li>
    </div>
    </ul>
  <ul>
    <ul>
      <li ng-repeat="room in rooms | filter: query" style="top: {{room.top}}; left: {{room.left}}" ng-click="toggle()" ng-class="{selected:state}" class="{{room.type}}">
        <div class="initials">{{room.initials}}</div>
        <div class="details">
          <p class="name">Name: {{room.name}}</p>
        </div>
      </li>
      <li ng-repeat="seat in seats | filter:query" style="top: {{seat.top}}; left: {{seat.left}}" ng-click="toggle()" ng-class="{selected:state}" class="{{seat.type}}">
        <div class="initials">{{seat.initials}}</div>
        <div class="details">
          <p class="name">Name: {{seat.name}}</p><p class="extension">Extension: {{seat.extension}}</p>
        </div>
      </li>
    </ul>
  </div>
</div>
