@include keyframes(fade-in) {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@include keyframes(poofs) {
	0%{
		visibility: visible;
		background-position: 0px 0px;
	}
	100% {
		visibility: hidden;
		background-position: 0px -250px;
	}
}