@include font-face(
	'UniversLT45Light',
    font-files(
    	'UniversLT-Light/UniversLT-Light.eot',
    	'UniversLT-Light/UniversLT-Light.eot?#iefix',
    	'UniversLT-Light/UniversLT-Light.woff',
    	'UniversLT-Light/UniversLT-Light.ttf',
    	'UniversLT-Light/UniversLT-Light.svg#UniversLT-Light'));

@include font-face(
    'UniversLT57Condensed',
    font-files(
        'UniversLT-Condensed/UniversLT-Condensed.eot',
        'UniversLT-Condensed/UniversLT-Condensed.eot?#iefix',
        'UniversLT-Condensed/UniversLT-Condensed.woff',
        'UniversLT-Condensed/UniversLT-Condensed.ttf',
        'UniversLT-Condensed/UniversLT-Condensed.svg#UniversLT-Condensed'));

@include font-face(
    'UniversCE55Medium',
    font-files(
        'UniversCE-Medium/UniversCE-Medium.eot',
        'UniversCE-Medium/UniversCE-Medium.eot?#iefix',
        'UniversCE-Medium/UniversCE-Medium.woff',
        'UniversCE-Medium/UniversCE-Medium.ttf',
        'UniversCE-Medium/UniversCE-Medium.svg#UniversCE-Medium'));

$font_light: 'UniversLT45Light';
$font_medium: "UniversCE55Medium";
$font_condensed: "UniversLT57Condensed";

$font_system: $font_light, sans-serif;