// --- imports ---
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "retina";
@import "fonts";
@import "icons";

// --- Global vars ---
$min_width: 800px;
$min_height: 600px;

$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);

$color_blue: #337ab7;

$departments:
  account-services #3e606f,
  business-services #91aa9d,
  creative #666444,
  creative-services #aba76f,
  digital #5cbdab,
  executive #ffdc00,
  it #EEFF58,
  joint #f2ece4,
  media-buying #590303,
  media-planning #b80000,
  production #E86D6D,
  project-management #d1dbbd,
  tech #8ad8b3;

// -- Global Mixins --
@mixin absoluteTopLeft() {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin font-smoothing() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin backfaceHidden() {
  -webkit-backface-visibility: hidden;
}

@mixin grab-cursor {
  // http://www.google.com/intl/en_ALL/mapfiles/openhand.cur
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

@mixin grabbing-cursor {
  // http://www.google.com/intl/en_ALL/mapfiles/closedhand.cur
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: -o-grabbing !important;
  cursor: -ms-grabbing !important;
  cursor: grabbing !important;
}

//
html, body{
  position: absolute;
  width: 100%;
  height: 100%;
}

html{
  font-family: $font_system;
  font-size: 10px;

  &.touch{
    *{
      outline: none;
      outline-style: none;
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: transparent;
      @include user-select('none');
    }
  }
}

body{
  min-width: $min-width;
  min-height: $min-height;
}

h1,h2,h3,h4,h5,h6,b{
  font-family: $font_medium;
  @include font-smoothing;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: none;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c2c2c2;
}
::-webkit-scrollbar-thumb:active {
  background: #9f9f9f;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: none;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.number{
  font-family: $font_condensed;
  letter-spacing: 0.05em;
}

.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
    box-shadow:none;
}

%entity-icon{
  &.employee,
  &.freelance,
  &.intern {
    @extend .icon-person;
  }

  &.room{
    @extend .icon-room;
  }

  &.printer{
    @extend .icon-printer;
  }
  &.freelance:after,
  &.intern:after {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 100%;
    font-size: .5em;
    font-family: $font_medium;
  }
  &.freelance:after {
    content: 'f';
    color: #286090;
  }
  &.intern:after {
    content: 'i';
    color: #f00;
  }
}