&{
	width: 100%;
	height: 100%;
	@include user-select(none);
}

.editing-region{
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	height: 100%;
	border: 1px solid lightgray;
	white-space: nowrap;
}

.floor-pane{
	@include inline-block(top);
	position: relative;
	width: 80%;
	height: 100%;
	overflow: hidden;
	white-space: normal;

	>.floor-viewport{
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-image: image-url('grid.png');

		.entity-icon{
			position: absolute;
		}
	}

	>.split-handle{
		position: absolute;
		z-index: 10;
		top: 0;
		right: 0;
		width: 20px;
		height: 100%;
		cursor: ew-resize;

		&:after{
			content: "";
			position: absolute;
			display: block;
			right: 0;
			width: 1px;
			height: 100%;
			background: lightgray;

			[data-cursor="horizontal-dragging"] &{
				background: gray;
			}
		}
	}

	.floor-container{
		position: relative;
		z-index: 0;
		width: 1024px;
		height: 576px;

		.floor{
			@include absoluteTopLeft;
			width: 100%;
			height: 100%;
			background-size: 100% 100%;

			&[data-id="6"] {
				background-image: url(https://placeholdit.imgix.net/~text?txtsize=33&txt=Floor%20Plan%206&w=1024&h=576);
			}

			&[data-id="7"] {
				background-image: url(https://placeholdit.imgix.net/~text?txtsize=33&txt=Floor%20Plan%207&w=1024&h=576);
			}

			&[data-id="8"] {
				background-image: url(https://placeholdit.imgix.net/~text?txtsize=33&txt=Floor%20Plan%208&w=1024&h=576);
			}

			>.inner{
				width: 100%;
				height: 100%;
			}
		}
	}

	.mousewheel-scroller{
		@include absoluteTopLeft;
		z-index: 1;
		//width: 100%;
		width: calc(100% + 50px);
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}

	.floor-buttons{
		position: absolute;
		z-index: 2;
		top: 30px;
		left: 30px;
	}
}

.waitlist-pane{
	@include inline-block(top);
	position: relative;
	width: 20%;
	height: 100%;
	overflow: hidden;

	>.inner{
		width: 100%;
		min-width: 250px;
		height: 100%;
		white-space: normal;
		padding: 30px 20px 0 20px;
		@include box-sizing(border-box);

		>h3{
			font-size: 20px;
			height: 40px;
		}

		>.waitlist-container{
			position: relative;
			width: 100%;
			height: calc(100% - 40px);
			overflow: hidden;

			>.waitlist{
				height: 100%;
				overflow: auto;
				@include transition(height, .25s);

				.employee-icon{
					@include translate(0, 0);
					margin: 0 10px 10px 0;
					cursor: pointer;
				}
			}

			>.info-container{
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 200px;
				border-top: 1px dashed lightgray;
				@include translateY(100%);
				opacity: 0;
				@include transition(transform .25s, opacity .25s);

				h6{
					font-size: 18px;
					line-height: 3;
				}

				p{
					font-size: 14px;
					line-height: 1.6;
				}
			}

			&.show-info{
				>.waitlist{
					height: calc(100% - 200px);
				}

				>.info-container{
					opacity: 1;
					@include translateY(0);
				}
			}
		}
	}
}

.entity-icon{
	@include inline-block(top);
	position: relative;
	z-index: 0;
	width: 40px;
	height: 40px;
	@include translate(-50%, -50%);
	@include user-select(none);

	>.icon{
		position: relative;
		z-index: 0;
		width: 40px;
		height: 40px;
		background: #99CCFF;
		text-align: center;
		color: white;
		line-height: 40px;
		font-size: 14px;
		@include border-radius(100%);
		@include box-shadow(0px 1px 2px 0px rgba(black,0.1));
		@include transition(background .4s $easeOutCubic);
	}

	>.info{
		position: absolute;
		z-index: 1;
		display: inline-block;
		left: 20px;
		top: 5px;
		background: black;
		color: white;
		padding: 10px 20px;
		font-size: 14px;
		white-space: nowrap;
		@include box-sizing(border-box);
		@include box-shadow(2px 4px 10px 0px rgba(black,0.1));
		@include translate(-50%, -100%);
		@include backfaceHidden();
		visibility: hidden;
		opacity: 0;
		@include transition( top .2s $easeOutCubic, visibility .2s, opacity .2s $easeOutCubic );

		>p{
			line-height: 1.4;
		}

		&:after{
			content: "";
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -10px;
			display: block;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 10px 0 10px;
			border-color: #000000 transparent transparent transparent;
		}
	}

	&:hover{
		z-index: 1;

		>.icon{
			background: darken(#99CCFF, 8);
		}

		>.info{
			visibility: visible;
			opacity: 1;
			top: -5px;
			@include transition-delay(.2s);
		}
	}

	&.active{
		z-index: 1 !important;

		>.icon{
			background: black !important;
		}
	}
}