&{
	width: 100%;
	height: 90px;
	padding: 0 40px;
	@include user-select(none);
}

>.inner{
	width: 100%;
	height: 100%;
	// max-width: 1920px;
	margin: 0 auto;
	@include flexbox((
		display: flex,
		align-items: flex-end,
		justify-content: space-between
	));
}

.logo{
	@include retina-icon("app-logo");
}

.other-buttons{

	.admin-buttons, .edit-buttons{
		@include inline-block(top);
	}

	#floorplan-selector{
		margin-right: 20px;

		.icon:before{
			margin-right: 8px;
		}

		a{
			margin: 5px 0;
			cursor: pointer;
			text-transform: normal;
		}

		.text{
			margin-right: 8px;
			text-transform: normal;
		}

		.new{
			border-top: 1px solid lightgray;
			margin-top: 10px;
			margin-bottom: 0;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		&:not(.admin) {
			.new{
				display: none;
			}
		}
	}

	>div, >button{
		@include inline-block(middle !important);
	}

	>button{
		margin-left: 20px !important;
	}
}

.admin-buttons >div{
	@include inline-block(middle !important);
}

.edit-buttons{
	margin-right: 10px;
}

.btn-add-seat, .btn-remove-seat{

	font-size: 30px;
	width: 50px !important;
	padding: 0 !important;
    border: none !important;
}

.btn-sheet{
	background: inherit;

	.checked, .unchecked{
		@extend .icon-sheet;
		font-size: 30px;
	}

	.checked{
		opacity: .5;
	}
}