@import "global";
@import "animation";

html{
	&[data-cursor="dragging"] {
		@include grabbing-cursor;
	}
	&[data-cursor="horizontal-dragging"] {
		cursor: ew-resize !important;
	}
}

#main-container{
	width: 100%;
	height: 100vh;
}

#toolbar{
	width: 100%;
	height: 100px;
	padding: 0 40px;
	@include user-select(none);

	>.inner{
		width: 100%;
		height: 100%;
		max-width: 1920px;
		margin: 0 auto;
		@include flexbox((
			display: flex,
			align-items: center,
			justify-content: space-between
		));
	}

	.wk-logo{
		@include retina-icon("wk-logo");
	}
}

#editor-container{
	width: 100%;
	height: calc(100% - 100px);
	padding: 40px;
	@include box-sizing(borde-box);
}

#seat-editor{
	@import "seat-editor";
}

#search {
	width: 25%;
}
#autocomplete-list strong {
	font-weight: 800;
	text-decoration: underline
}