
@font-face {
  font-family: 'UniversLT-Condensed';
  src: url('UniversLT-Condensed.eot?#iefix') format('embedded-opentype'),  url('UniversLT-Condensed.woff') format('woff'), url('UniversLT-Condensed.ttf')  format('truetype'), url('UniversLT-Condensed.svg#UniversLT-Condensed') format('svg');
  font-weight: normal;
  font-style: normal;
}
