
@font-face {
  font-family: 'UniversCE-Medium';
  src: url('UniversCE-Medium.eot?#iefix') format('embedded-opentype'),  url('UniversCE-Medium.woff') format('woff'), url('UniversCE-Medium.ttf')  format('truetype'), url('UniversCE-Medium.svg#UniversCE-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
